$color__background_menu:#002746;
/* Animation du menu sur grans écran */


.main-navigation {
	display: block;
	width: 100%;
	ul {
		// display: none;
		list-style: none;
		margin: 0;
//		padding-left: 0;
		background-color:$color__background_menu;
		font-size: 1rem;
		width : 100vw;
		// position : absolute;
		z-index: 1;
		transition : height .5s, opacity .5s;
		height:0;
		opacity:.5;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			//left: -999em;
			transform : translateX(-200em);
			opacity : 0;
			transition: all .25s cubic-bezier(0,.99,0,1);
			z-index: 99999;
			height :fit-content !important;
			background-color: ligthen($color__background_menu, 10%);
			//width : 120%;
			li {
			   a {
				  padding-left : 20px; // pour décaller le sous menus à droite
			   }
			}

			a {
				display : none;
				transition : opacity 1s;
				opacity :0;	
			}

		} // fin deuxième ul

	//	li:hover > ul,
		li.focus > ul {
			transform: translateX(0);
			opacity: 1;
		}
	} // fin premier ul

	li {
		position: relative;
	}

	a {
		display : none;
		transition : opacity 1s;
		opacity :0;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
		font-weight: normal;
		border-bottom: 1px dotted #fafbfc;	
	}
}

/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding :0;
	border : 0;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #fafbfc;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

/* Small menu. */
.menu-toggle {
	display: block;
 }
/* -----------------------------------------------------------------------
Ouverture du menu
--------------------------------------------------------------------*/

.main-navigation.toggled ul {
	display: block;
	height : 18rem;
	//height :fit-content;
	opacity : 1;
	li{
		a{
			width : 100%;
			display:block;
			opacity : 1;
			z-index: 99;
			&[href="#"]::after {
				position : absolute;
				content : "\2B9E";
				width : 100%;
				height:100%;
				top:0;
				bottom:0;
				left:90%;
				right:0;
			}		
		}
	}
	li.focus a[href="#"]::after {	
				content : "\2B9F";
	}
}

/* ----------------------------------------------------------------- menu standard */
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height : 2.5rem;
		opacity : 1;
		li{
			//padding :10px;
			a{
				border-bottom: none;
				padding: 10px;
				width : 100%;
				display:block;
				opacity : 1;
				&[href="#"]::after {
					position : absolute;
					content : "\2B9E";
					width : 100%;
					height:100%;
					top:25%;
					bottom:0;
					left:95%;
					right:0;
				}		
			}
			ul {
				margin-left :-100px;
				//height : 500px; // à retirer pour auteur sous-menu flexible
				width: 300px;
				display : flex;
				flex-direction :column;
				justify-content: flex-start;
				align-items: flex-start; 
				li {
					display : block;
					width : 200%;
					background-color:$color__background_menu;
				}
				
	
			}
			&:nth-of-type(1) ul {
			margin-left :-50px;
				li{
					padding-left : 20px;
				}
			}
			&.focus a[href="#"]::after {	
						content : "\2B9F";
			}
		}

		li.focus > ul {
			// transform: translateX(0);
			// opacity: 1;
			animation : anim-sous-menu .15s both;
		}

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/* ------------------------------------------------------------------------
Animation du sous menu
-------------------------------------------------------------------------- */
@keyframes anim-sous-menu {
	0% { 
		opacity:0;
		transform : translateX(0) translateY(100px);
	}

	100% {
		opacity : 1;
		transform : translateX(0) translateY(0);
	}
}
