$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

/* Lien généraux */

$color__link: #152f7c; //royalblue
$color__link-visited: #081a2f; //purple
$color__link-hover: #0f8a2a; //midnightblue

/* Lien du menu principal */

$color__linkmenu: #e0df8d; //royalblue
$color__linkmenu-visited: #f1dc67; //purple
$color__linkmenu-hover: #f9f9fb; //midnightblue

/* Lien du .site-title */

$color__linksitetitle: #0a1538; //royalblue
$color__linksitetitle-visited: #1f2858; //purple
$color__linksitetitle-hover: #2727a1; //midnightblue



$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
